.FilAriane{
  display: flex;
  margin-top: 70px;
}

.FilAriane p{
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  color: #3c3c3c;
  cursor: pointer;
}

.FilAriane a{
  color: #e2574c;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

#fontIcon{
  font-size: 10px;
  line-height: 53px;
  color: #3c3c3c;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-left: 10px;
}
