.SectionType2Card{
  text-align: center;
  width: 270px;
  padding-top: 60px;
  padding-bottom: 60px;
}

h3{
  color: #3c3c3c;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
}

p{
  color: #797979;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.icon{
  font-size: 25px;
}
